{% load static %}

<link href="{% static "css/application.css" %}" rel="stylesheet">

<!-- jquery and friends -->
<script src="{% static "js/jquery/jquery-2.0.3.min.js" %}"> </script>


<!-- jquery plugins -->
<script src="{% static "js/jquery-maskedinput/jquery.maskedinput.js" %}"></script>
<script src="{% static "js/parsley/parsley.js" %}"> </script>
<script src="{% static "js/icheck.js/jquery.icheck.js" %}"></script>
<script src="{% static "js/select2.js" %}"></script>
<script src="{% static "js/jquery.autogrow-textarea.js" %}"></script>


<!--backbone and friends -->
<script src="{% static "js/backbone/underscore-min.js" %}"></script>

<!-- bootstrap default plugins -->
<script src="{% static "js/bootstrap/transition.js" %}"></script>
<script src="{% static "js/bootstrap/collapse.js" %}"></script>
<script src="{% static "js/bootstrap/alert.js" %}"></script>
<script src="{% static "js/bootstrap/tooltip.js" %}"></script>
<script src="{% static "js/bootstrap/popover.js" %}"></script>
<script src="{% static "js/bootstrap/button.js" %}"></script>
<script src="{% static "js/bootstrap/dropdown.js" %}"></script>
<script src="{% static "js/bootstrap/modal.js" %}"></script>

<!-- bootstrap custom plugins -->
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "js/bootstrap-select/bootstrap-select.js" %}"></script>
<script src="{% static "js/wysihtml5/wysihtml5-0.3.0_rc2.js" %}"></script>
<script src="{% static "js/bootstrap-wysihtml5/bootstrap-wysihtml5.js" %}"></script>
<script src="{% static "js/bootstrap-switch.js" %}"></script>
<script src="{% static "js/bootstrap-colorpicker.js" %}"></script>

<!-- basic application js-->
<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/settings.js" %}"></script>

<!-- page specific -->
<script src="{% static "js/forms-elemets.js" %}"></script>

<!-- page-specific -->
<script type="text/javascript" src="{% static "js/print.js" %}"></script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
        <% auto = sidebarState == 'auto'%>
        <% if (auto) {%>
            <button type="button"
                    data-value="icons"
                    class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
        <%} else {%>
            <button type="button"
                    data-value="auto"
                    class="btn btn-transparent btn-sm">Auto</button>
        <% } %>
</script>