
    <header class="page-header">
        <div class="navbar">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li><h4 class="welcome">billy@gmail.com</h4></li>
                <li class="divider"></li>
                <li class="dropdown">
                    <a href="#" title="2 messages"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="fa fa-comments"></i>
                        <span class="count">2</span>
                    </a>
                    <ul id="support-menu" class="dropdown-menu support" role="menu">
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture">
                                    <span class="label label-info"><i class="fa fa-money"></i></span>
                                </div>
                                <div class="details">
                                    added 230 credits
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture">
                                    <span class="label label-success"><i class="fa fa-plus"></i></span>
                                </div>
                                <div class="details">
                                    Task "Biatch summer set" done
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" title="23003 credits left"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <i class="fa fa-credit-card"></i>
                        <span class="count">23003</span>
                    </a>
                    <ul id="support-menu" class="dropdown-menu support" role="menu">
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture">
                                    <span class="label label-warning"><i class="fa fa-question-circle"></i></span>
                                </div>
                                <div class="details">
                                    50 credits used for task "240x180 biatch time"
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>