<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index,follow" />

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <title>
        Video Thumbs
    </title>

</head>

<body class="{% block page-class %}home{% endblock page-class %}">

{% block content %}
{% endblock content %}

<script src="{% static 'js/jquery-1.10.2.min.js' %}"
         type="text/javascript" charset="utf-8" ></script>


</body>

</html>

